*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
}
.carousel{
    height: 500px;
    width: 500px;
    overflow: hidden;
    box-shadow: 0 0 10px  #aaa;
}
.image-container {
    display: flex;
    
}
img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    
}
.right-arrow,
.left-arrow{
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
}
.right-arrow{
    right:0
}