.submit-btn{
    font-size: 24px;
    background-color: greenyellow;
    margin-left: 15px;
}

input {
    padding: 5px 10px;
    outline:none;
    font-size: 24px;
}
.todo {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sort-wrapper{
    display: flex;
    margin-bottom: 15px;

}
.desc,
.asc{
    font-size: 15px;
    font-weight: bold;
    background-color: #eee;
    padding: 5px 10px;
    margin-right: 15px;
    display: block;
    cursor: pointer;
}